*{
    margin: 0;
    padding: 0;
}

nav{
    height: 50px;
    width: 100%;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: greenyellow;
}

nav .logo{
    font-size: larger;
    margin: 10px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

nav ul li{
    padding: 10px;
}

body h1{
    font-family: 'Times New Roman', Times, serif;
    color: green;
    display: flex;
    justify-content: center;
}